* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary: #ea3323;
	--black: #000000;
	--grey: #949494;
	--light-grey: #e1e1e1;
	--white: #ffffff;
}

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100;
	text-size-adjust: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

.heading1 {
	font-size: 72px;
	font-weight: 800;
	line-height: 80px;

	color: var(--text-color);
}

.heading2 {
	font-size: 72px;
	font-weight: 700;
	line-height: 80px;

	color: var(--text-color);
}

.heading3 {
	font-size: 48px;
	font-weight: 800;
	line-height: 56px;

	color: var(--text-color);
}

.heading4 {
	font-size: 40px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: -1.71px;

	color: var(--text-color);
}

.heading5 {
	font-size: 32px;
	font-weight: var(--font-weight);
	line-height: 40px;

	color: var(--text-color);
}

.heading6 {
	font-size: 24px;
	font-weight: var(--font-weight);
	line-height: 32px;
	text-decoration: var(--text-decoration);

	color: var(--text-color);
}

.body {
	font-size: 16px;
	font-weight: var(--font-weight);
	line-height: 24px;
	text-decoration: var(--text-decoration);

	color: var(--text-color);
}
