/* This CSS resource incorporates links to font software which is the valuable copyrighted 
property of Monotype and/or its suppliers. You may not attempt to copy, install, 
redistribute, convert, modify or reverse engineer this font software. Please contact
Monotype with any questions regarding Web Fonts: https://www.linotype.com */

@font-face {
	font-family: 'Folio';
	src: url('/Fonts/5734441/f4be3fcf-e382-4dbf-8104-fa314df2f153.woff2') format('woff2'),
		url('/Fonts/5734441/fe6a5160-bb18-41ce-944b-b59726b54c6d.woff') format('woff');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary: #ea3323;
	--black: #000000;
	--grey: #949494;
	--light-grey: #e1e1e1;
	--white: #ffffff;
}

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100;
	text-size-adjust: 100%;
}

body {
	font-family: 'Inter', Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

.heading1 {
	font-size: 72px;
	font-weight: 800;
	line-height: 80px;

	color: var(--text-color);

	white-space: pre-line;
}

.heading2 {
	font-size: 72px;
	font-weight: 700;
	line-height: 80px;

	color: var(--text-color);

	white-space: pre-line;
}

.heading3 {
	font-size: 48px;
	font-weight: 800;
	line-height: 56px;

	color: var(--text-color);

	white-space: pre-line;
}

.heading4 {
	font-size: 40px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: -1.71px;

	color: var(--text-color);

	white-space: pre-line;
}

.heading5 {
	font-size: 32px;
	font-weight: 400;
	line-height: 40px;

	color: var(--text-color);

	white-space: pre-line;
}

.heading5.medium {
	font-weight: 500;
}

.heading5.bold {
	font-weight: 700;
}

.heading6 {
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;

	color: var(--text-color);

	white-space: pre-line;
}

.heading6.underlined {
	text-decoration: underline;
}

.heading6.medium {
	font-weight: 500;
}

.heading6.bold {
	font-weight: 700;
}

.body {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;

	color: var(--text-color);

	white-space: pre-line;
}

.body.underlined {
	text-decoration: underline;
}

.body.medium {
	font-weight: 500;
}
